@page "/tarte/{NomeTarte}"
@inject business.IFacade Facade
@inherits LayoutComponentBase
@layout Layout.MainLayout

<head>
    <link href="tarte.css" rel="stylesheet" />
</head>


@code {
    //A rota /tarte/{NomeTarte} mapeia "rosas" para a propriedade NomeTarte
    [Parameter] //está a ser usado para declarar que o valor de NomeTarte será definido pela URL
    public string NomeTarte { get; set; } = string.Empty;

    private business.Produto? ProdutoSelecionado;

    protected override void OnParametersSet()
    {
        // Procura o produto correspondente ao NomeTarte (id pode ser maca ou rosas por exemplo)
        ProdutoSelecionado = Facade.ObterTarte(NomeTarte.ToLower());
    }
}

<div class="tarte-detalhes">
    @if (ProdutoSelecionado is not null)
    {   //exibe os detalhes da tarte encontrada
        <h1>@ProdutoSelecionado.Nome</h1>
        <img src="@ProdutoSelecionado.Imagem" alt="@ProdutoSelecionado.Nome" />
        <p class="preco">@ProdutoSelecionado.Preco.ToString("C")</p>
        <p>@ProdutoSelecionado.Descricao</p>
        <button class="botao-carrinho">Adicionar ao Carrinho</button>
        <NavLink href="/" class="a-voltarMenu">Voltar ao menu</NavLink>
    }
    else // não encontrou a tarte
    {
        <h1>Tarte Não Encontrada</h1>
        <p>A tarte solicitada não existe.</p>
        <NavLink href="/" class="a-voltarMenu">Voltar ao menu</NavLink>
    }
</div>
